$font-color: #999;

.sub-menu {
  position: absolute;
  top: 60%;
  left: 100%;
  text-align: center;
  text-decoration: none;
  visibility: hidden;
  border-radius: 5px;
  font-size: 14px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s 0.2s;
  &.main {
    top: 6em;
    // visibility: visible;
    left: auto;
  }
  a {
    color: $font-color;
    text-decoration: none;
    padding-bottom: 10px;
  }
  li {
    font-family: "Work Sans", sans-serif;
    list-style: none;
    padding: 8px 0;
    font-size: 13px;
    min-width: 80px;
  }
}

.option:hover {
  & > .sub-menu {
    visibility: visible;
  }
}

.ion-chevron-down,
.ion-chevron-up {
  padding-left: 2px;
  font-size: 8px;
  color: $font-color;
}

.ion-chevron-right {
  display: inline-block;
  position: absolute;
  right: 15px;
  padding: 5px;
  font-size: 8px;
  color: $font-color;
}
