@import './variables.scss';

* {
  font-family: "Work Sans", sans-serif;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  .logo-container {
    display: flex;
    justify-content: center;
  }
}
.navbar-logo {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  .nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
    .nav-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 15px;
      font-size: 12px;
      .nav-links {
        font-size: 13px;
        color: $font-color;
        text-decoration: none;
        padding: 0.5rem 1rem;
      }
    }
  }
}
.ion-chevron-down {
  font-size: 0.6em;
}

.menu-icon {
  position: sticky;
  color: $font-color;
  display: none;
}

@media screen and (max-width: 960px) {
  .container {
    width: 100vw;
    height: 70px;
    background: #0289ff;
    z-index: 25;
    padding: 0;
    .navbar .nav-menu .nav-item.nav-mobile {
      position: relative;
      flex-direction: column;
      height: auto;
    }
    .navbar-logo {
      color: $font-color-mobile;
      margin-left: 20px;
    }
    .nav-menu {
      visibility: hidden;
      position: fixed;
      display: flex;
      flex-direction: column;
      max-height: 50vh;
      opacity: 1;
    }
    .nav-menu.active {
      overflow: auto;
      background: #595959;
      font-family: "Work Sans";
      color: $font-color-mobile;
      left: 0;
      padding: 15px 0;
      width: 100%;  
      top: 70px;
      transition: all 0.5s;
      z-index: 1;
      visibility: visible;
      .ion-chevron-down,
      .ion-chevron-up {
        display: none;
      }
      .nav-links {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        text-align: left;
        color: $font-color-mobile;
        width: 100%;
      }
    }
    .menu-icon {
      color: $font-color-mobile;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
}
