.video-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.8);
  iframe {
    width: 100%;
    max-width: 1140px;
    min-height: 80%;
    z-index: 101;
    border: none;
    outline: none;
  }
  .close-video-btn {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    height: 45px;
    width: 45px;
    font-size: 18px;
    cursor: pointer;
    color: #999;
    background: rgba(30, 30, 30, 0.9);
    padding: 10px;
    z-index: 102;
  }
  .close-video-btn:hover {
    color: #fff;
  }
}

@media screen and (max-width: 960px) {
  .video-wrapper {
    width: 100%;
    .video-player {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
